@use "./create_bg_container.scss" as bg_container;
@import "../variables/base_palette.scss";

/*
* $color_map map that contains colors to scale
* $steps loop steps
* $convert_ratio scale ratio for color to be lighthen or darken
*/
@mixin create_palette(
  $color_map: $base_palette,
  $steps: 10,
  $convert_ratio: 4
) {
  :root {
    @each $color_name, $color_value in $color_map {
      $start_segment: ($steps * 100);
      $start_color_variable: "--ds-" + (#{$color_name}) + "-" + #{$start_segment};
      #{$start_color_variable}: $color_value;
      @for $i from 1 to $steps {
        $segment: (($steps - $i) * 100);
        $color_variable: "--ds-" + (#{$color_name})+ "-" + (#{$segment});
        @if $color_value == #ffffff {
          #{$color_variable}: #{darken($color_value, $i * $convert_ratio)};
        } @else {
          #{$color_variable}: #{lighten($color_value, $i * $convert_ratio)};
        }
      }
    }
  }
  body {
    @each $color_name, $color_value in $color_map {
      $start_segment: ($steps * 100);
      $start_color_variable: "--ds-" + (#{$color_name}) + "-" + #{$start_segment};
      @include bg_container.create_bg_containers(
        #{$start_color_variable},
        $color_name,
        $start_segment
      );
      @for $i from 1 to $steps {
        $segment: (($steps - $i) * 100);
        $color_variable: "--ds-" + (#{$color_name})+ "-" + (#{$segment});
        @include bg_container.create_bg_containers(
          #{$color_variable},
          $color_name,
          $segment
        );
      }
    }
  }
}
